<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="content-header">
                        <h3 class="text-center">Hoi, wij zijn Sander en Els!</h3>
                    </div>
                    <p class="text-center">
                        Wij zijn na veel vragen over de dagaanbieding begonnen met deze site.<br>
                        Het idee erachter is om studenten van de HAN in Arnhem te informeren over de dagaanbieding van de kantine.<br>
                        Leuke foto en de prijs erbij.<br>
                        Iedereen weet waar hij of zij die dag aan toe is.
                    </p>
                    <p class="text-center">
                        's Ochtends denk je, wat is vandaag de dagaanbieding? Je hebt geen idee.<br>
                        Dan ga je naar watisdedagaanbieding.nl en je hebt een antwoord op je vraag.<br>
                    </p>
                    <br>
                    <p><h5 class="text-center">Voor studenten door studenten</h5></p>
                </div>
            </div>
        </div>
    </div>
</div>