<div class="row">
    <div class="col m8 offset-m2">
        <h3>Hoi, wij zijn Sander, Els en Maarten!</h3>
        <div class="divider"></div>
        <div class="section">
            <p>
                Wij zijn na veel vragen over de dagaanbieding begonnen met deze site.<br>
                Het idee erachter is om studenten van de HAN in Arnhem te informeren over de dagaanbieding van de kantine in de faculteit Techniek.<br>
                Elke dag een nieuwe dagaanbieding met een leuke foto en een prijs erbij.<br>
                Iedereen weet waar hij of zij die dag aan toe is.
            </p>
            <p>
                's Ochtends denk je, wat is vandaag de dagaanbieding? Je hebt geen idee.<br>
                Dan ga je naar watisdedagaanbieding.nl en je hebt een antwoord op je vraag.<br>
            </p>
            <p>
                Repo: <a href="https://github.com/Archcry/Dagaanbieding">https://github.com/Archcry/Dagaanbieding</a>
            </p>
            <br/>
            <h5 class="center-align">Voor studenten door studenten</h5>
        </div>
    </div>
</div>