<div class="row">
    <div class="col m6" ng-repeat="item in content">
        <h4 class="center-align">Geschiedenis</h4>
        <div class="row">
            <div class="col s8 m8 offset-s2 offset-m2">
                <div class="card medium">
                    <div class="card-image">
                        <img ng-src="{{ item.picture }}">
                    </div>
                    <div class="card-content">
                        <h4 class="margin-0px">{{ item.name }} - <span class="green-text lighten-2">{{ item.date | date:fullDate }}</span></h4>
                    </div>
                    <div class="card-action" ng-if="item.price">
                        <h4 class="margin-0px">&euro; {{ item.price | number:2 }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>