<div class="row">
    <div class="col m6 offset-m3">
        <h4 class="center-align">Dagaanbieding van <span class="green-text lighten-2">{{ content.date | date:fullDate }}</span></h4>
        <p>Selecteer een jaar en maand voor de bijbehorende aanbiedingen. De standaard maand is de huidige maand.</p>
        <div class="input-field col s6">
            <select id="selectYear">
                <option value="" disabled selected>Jaar</option>
                <option value="2015">2015</option>
            </select>
            <label for="selectYear">Selecteer een jaar</label>
        </div>
        <div class="input-field col s6">
            <select id="selectMonth">
                <option value="" disabled selected>Maand</option>
                <option value="01">Januari</option>
                <option value="02">Februari</option>
                <option value="03">Maart</option>
                <option value="04">April</option>
                <option value="05">Mei</option>
                <option value="06">Juni</option>
                <option value="07">Juli</option>
                <option value="08">Augustus</option>
                <option value="09">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <label for="selectMonth">Selecteer een maand</label>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img ng-src="{{ content.picture }}">
                    </div>
                    <div class="card-content">
                        <h4 class="margin-0px">{{ content.name }}</h4>
                    </div>
                    <div class="card-action" ng-if="content.price">
                        <h4 class="margin-0px">&euro; {{ content.price | number:2 }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>