<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-header text-center">
                    <h3>Dagaanbieding van vandaag</h3>
                    <small>{{ content.date }}</small>
                </div>
                <hr>
                <div class="panel-body">
                    <h2 class="text-center title">{{ content.name }}</h2>
                    <img ng-src="{{ content.picture }}" class="img-responsive daily-img">
                </div>
                <div class="panel-footer" ng-if="content.price">
                    <h3 class="text-center">&euro; {{ content.price | number:2 }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>